
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.horizontal-group[data-v-2f4ddd1a]>button:first-child{border-top-right-radius:0;border-bottom-right-radius:0}.horizontal-group[data-v-2f4ddd1a]>button:last-child{border-top-left-radius:0;border-bottom-left-radius:0}.horizontal-group[data-v-2f4ddd1a]>button:not(:first-child,:last-child){border-radius:0}.vertical-group[data-v-2f4ddd1a]>button:first-child{border-bottom-right-radius:0;border-bottom-left-radius:0}.vertical-group[data-v-2f4ddd1a]>button:last-child{border-top-left-radius:0;border-top-right-radius:0}.vertical-group[data-v-2f4ddd1a]>button:not(:first-child,:last-child){border-radius:0}
