
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.demo>i[data-v-0bab76d6]{margin:0 20px;font-size:1.5em;vertical-align:middle;color:#606266}.demo button[data-v-0bab76d6]{margin:0 20px}.list-icon[data-v-0bab76d6]{display:inline-block;margin:10px}.list-icon i[data-v-0bab76d6]{font-size:32px;color:#606266}
