
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.el-image[data-v-627590f4]{background-color:var(--el-fill-color);border-radius:5px;box-shadow:var(--el-box-shadow-light);transition:background-color .3s,var(--el-transition-box-shadow)}.el-image[data-v-627590f4] .el-image__inner{cursor:pointer;transition:all .3s}.el-image[data-v-627590f4] .el-image__inner:hover{transform:scale(1.2)}.el-image[data-v-627590f4] .image-slot{display:flex;align-items:center;justify-content:center;width:100%;height:100%;font-size:30px;color:#909399}
