
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.breadcrumb-enter-active[data-v-74ad9d15]{transition:transform .3s,opacity .3s}.breadcrumb-enter-from[data-v-74ad9d15]{opacity:0;transform:translate(30px) skew(-50deg)}
